<!DOCTYPE html>
<html lang="en">
<head>

    <title>Anomaly Detection UI</title>

    <style>
        #main{
            width: 500px;
            margin: auto;
        }

        form, #result-body{
            font-size: 1.3rem;
        }

        .result-body{
            text-align: center;
        }

        .select{
            width: 500px;
        }

        .select-label{
            width: 160px;
        }

        .select-list{
            width: 400px;
        }


        .card-div{
            width: 80%;
            margin: auto;
            margin-top: 50px;
            max-width: 800px;
        }

        .card-text{
            font-size: "large";
        }

        .title{
            text-align: center;
        }
    </style>

    <nav class="navbar navbar-light bg-light">
        <span style="font-size: 1.5rem;" class="navbar-brand mb-0 h1">Anomaly Detection UI</span>
    </nav>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <div class="card-div">
        <div id="options-card" class="card">
            <div class="card-header">Options</div>

            <div class="card-body">
                <form id="form" action="/train" method="post">
                    <div class="select-div">
                        <label class="select-label">Framework</label>
                        <select name="framework" class="select-list">
                            <option value="spark">Apache Spark</option>
                            <option value="flink">Apache Flink</option>
                        </select>
                    </div>

                    <div class="select-div">
                        <label class="select-label">Algorithm</label>
                        <select name="algorithm" class="select-list">
                            <option value="svm">Support Vector Machine</option>
                            <option value="dt">Decision Tree Classifier</option>
                            <option value="rf">Random Forest Classifier</option>
                            <option value="nb">Naive Bayes Classifier</option>
                            <option value="lr">Logistic Regression Classifier</option>
                        </select>
                    </div>

                    <div class="select-div">
                        <label class="select-label">Input File</label>
                        <input type="file" class="select-list" name="input-file" accept=".csv">
                    </div>

                    <div class="select-div">
                        <label class="select-label">Train Ratio (<span id="ratio">0.8</span>)</label>
                        <input name="ratio" type="range" min="0" max="100" value="80" class="select-list" id="ratio-slider">
                    </div>


                    <div class="select-div">
                        <label class="select-label">Multi Node</label>
                        <input name="multi-node" style="transform: scale(1.5);" type="checkbox" value="1">
                        <button type="submit" id="submit-but" style="float:right" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div id="result-card" class="card-div">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">Performance Results</div>
              <div class="result-body" class="card-body">
                <p id="per-results" class="card-text"></p>
                <div id="spinner1" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">Scalability Results</div>
              <div class="result-body" class="card-body">
                <p id="sca-results" class="card-text"></p>
                <div id="spinner2" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        var slider = document.getElementById("ratio-slider");
        var ratio = document.getElementById("ratio");
        var submit_but = document.getElementById("submit-but")
        var spinner1 = document.getElementById("spinner1");
        var spinner2 = document.getElementById("spinner2");
        var result_card = document.getElementById("result-card");
        var sca_results = document.getElementById("sca-results");
        var per_results = document.getElementById("per-results");

        if("{{accuracy}}" === ""){
            console.log("gelmedi");
            result_card.style.visibility = "hidden";
        }
        else{
            spinner1.style.visibility = "hidden";
            spinner2.style.visibility = "hidden";

            per_string = "\nAccuracy: {{accuracy}}\n" +
                     "F1 Score: {{f1_score}}\n" +
                     "Precision: {{precision}}\n" +
                     "Sensitivity: {{sensitivity}}\n";

            sca_string = "\nTrain Time: {{trainTime}} ms\n" +
                     "Test Time: {{testTime}} ms";

            per_results.innerText = per_string;
            sca_results.innerText = sca_string;
        }

        slider.oninput = function() {
            ratio.innerHTML = this.value/100;
        }

        submit_but.onclick = function() {
            result_card.style.visibility = "visible";
            spinner1.style.visibility = "visible";
            spinner2.style.visibility = "visible";

            sca_results.innerText = "";
            per_results.innerText = "";
        }
    </script>
</body>

</html>
